<form action="/add" method="post">
    <div class="col-md-12">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="" placeholder="Name" required>
        </div>
        <br>
        <div class="form-group ">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone" name="phone" value="" placeholder="Phone" required>
        </div>
        <br>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="" placeholder="Email" required>
        </div>
        <br>
        <div class="form-group ">
            <label for="details">Customer Details</label>
            <textarea class="form-control" name="details"></textarea>
        </div>
        <br>
        <div class="form-group ">
            <input type="submit" class="btn btn-sm btn-primary" value="Add Customer">
        </div>
    </div>
</form>